# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build output
dist
build

# Environment variables
.env

# Logs
logs
*.log

# Temporary files
tmp
temp

# IDE and editor files
.vscode
.idea
.DS_Store

# Git files
.git
.gitignore

# Other
coverage